.header {
  position: absolute;
  width: 100%;
  top: 0;
  @media (min-width: 0px) and (max-width: 1282px) {
    padding: 3em 3em;
  }
  padding: 3em 8em;
  z-index: 10;
  display: flex;
  color: #ffffff;

  @media (min-width: 858px) and (max-width: 1282px) {
    .enseign {
      position: relative;
      width: 5%;
    }
    .menu {
      position: relative;
      width: 90%;
    }

    .action {
      position: relative;
      width: 5%;
    }
  }
  @media (min-width: 0px) and (max-width: 858px) {
    .enseign {
      position: relative;
      width: 5%;
    }
    .menu {
      position: relative;
      width: 90%;
      display: none;
    }

    .action {
      position: relative;
      width: 95% !important;
    }
  }
  // @media (min-width: 0px) and (max-width: 858px) {
  //   .menu {
  //     display: none;
  //   }
  //   .action {
  //     position: relative;
  //     width: 95%;
  //     background-color: red;
  //   }
  // }
  .enseign {
    position: relative;
    width: 20%;
    font-size: 30px;
    font-weight: 600;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .menu {
    position: relative;
    width: 55%;
  }
  .action {
    position: relative;
    width: 25%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    ul {
      a {
        li {
          display: inline-block;
          padding-right: 10px;
        }
      }
    }
    .action_span {
      margin-top: 12px;
      padding: 0.1em 0.2em;
      text-decoration: none;
    }
  }
}
